<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="userName">
      <h2 data-cy="userNameDetailsHeading"><span>User Name</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ userName.id }}</span>
        </dd>
        <dt><span>Name</span></dt>
        <dd>
          <span>{{ userName.name }}</span>
        </dd>
        <dt><span>Surname</span></dt>
        <dd>
          <span>{{ userName.surname }}</span>
        </dd>
        <dt><span>Photo</span></dt>
        <dd>
          <div *ngIf="userName.photo">
            <a (click)="openFile(userName.photo, userName.photoContentType)">
              <img [src]="'data:' + userName.photoContentType + ';base64,' + userName.photo" style="max-width: 100%" alt="userName image" />
            </a>
            {{ userName.photoContentType }}, {{ byteSize(userName.photo) }}
          </div>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
          <span>{{ userName.phone }}</span>
        </dd>
        <dt><span>Premium</span></dt>
        <dd>
          <span>{{ userName.premium }}</span>
        </dd>
        <dt><span>Birth Date</span></dt>
        <dd>
          <span>{{ userName.birthDate | formatMediumDate }}</span>
        </dd>
        <dt><span>Add Date</span></dt>
        <dd>
          <span>{{ userName.addDate | formatMediumDate }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/user-name', userName.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
