<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="shoppingList">
      <h2 data-cy="shoppingListDetailsHeading"><span>Shopping List</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ shoppingList.id }}</span>
        </dd>
        <dt><span>Total</span></dt>
        <dd>
          <span>{{ shoppingList.total }}</span>
        </dd>
        <dt><span>Name Shop List</span></dt>
        <dd>
          <span>{{ shoppingList.nameShopList }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/shopping-list', shoppingList.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
