<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="task">
      <h2 data-cy="taskDetailsHeading"><span>Task</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ task.id }}</span>
        </dd>
        <dt><span>Task Name</span></dt>
        <dd>
          <span>{{ task.taskName }}</span>
        </dd>
        <dt><span>Data Create</span></dt>
        <dd>
          <span>{{ task.dataCreate | formatMediumDate }}</span>
        </dd>
        <dt><span>Data End</span></dt>
        <dd>
          <span>{{ task.dataEnd | formatMediumDate }}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
          <span>{{ task.description }}</span>
        </dd>
        <dt><span>Cancel</span></dt>
        <dd>
          <span>{{ task.cancel }}</span>
        </dd>
        <dt><span>Photo</span></dt>
        <dd>
          <div *ngIf="task.photo">
            <a (click)="openFile(task.photo, task.photoContentType)">
              <img [src]="'data:' + task.photoContentType + ';base64,' + task.photo" style="max-width: 100%" alt="task image" />
            </a>
            {{ task.photoContentType }}, {{ byteSize(task.photo) }}
          </div>
        </dd>
        <dt><span>Puntuacion</span></dt>
        <dd>
          <span>{{ task.puntuacion }}</span>
        </dd>
        <dt><span>Task List</span></dt>
        <dd>
          <div *ngIf="task.taskList">
            <a [routerLink]="['/task-list', task.taskList?.id, 'view']">{{ task.taskList?.nameList }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/task', task.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
