<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="group">
      <h2 data-cy="groupDetailsHeading"><span>Group</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ group.id }}</span>
        </dd>
        <dt><span>Group Key</span></dt>
        <dd>
          <span>{{ group.groupKey }}</span>
        </dd>
        <dt><span>Group Name</span></dt>
        <dd>
          <span>{{ group.groupName }}</span>
        </dd>
        <dt><span>Group Relation Name</span></dt>
        <dd>
          <span>{{ group.groupRelationName }}</span>
        </dd>
        <dt><span>Add Group Date</span></dt>
        <dd>
          <span>{{ group.addGroupDate | formatMediumDate }}</span>
        </dd>
        <dt><span>User Data</span></dt>
        <dd>
          <span *ngFor="let userData of group.userData; let last = last">
            <a [routerLink]="['/user-data', userData?.id, 'view']">{{ userData.id }}</a
            >{{ last ? '' : ', ' }}
          </span>
        </dd>
        <dt><span>User Admin</span></dt>
        <dd>
          <div *ngIf="group.userAdmin">
            <a [routerLink]="['/user-data', group.userAdmin?.id, 'view']">{{ group.userAdmin?.id }}</a>
          </div>
        </dd>
        <dt><span>Task List</span></dt>
        <dd>
          <div *ngIf="group.taskList">
            <a [routerLink]="['/task-list', group.taskList?.id, 'view']">{{ group.taskList?.nameList }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/group', group.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
